{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  
  <h1>{{title}}</h1>
  <pre>{{content}}</pre>
  <!-- <pre>{{json}}<pre> -->
<a target="_blank" href="{{url}}">Read more...</a>
</div>

{% endblock %}