{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
  <h1>{{categoryName}}</h1>
</div>

<div class="row">
        <div id="articles">
            {{ include('@default/article_layout.html.twig') }}
        </div>
</div>
{% endblock %}